<p><%= image_tag @portfolios_item.main_image %></p>

<p><%= @portfolios_item.title %></p>
<p><%= @portfolios_item.subtitle %></p>
<p><%= @portfolios_item.body %></p>
<p><%= @portfolios_item.thumb_image %></p>
 


